{% extends 'base.html' %} {% block content %}
<div class="container">
  <h1
    style="
      color: rgb(80, 79, 79);
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      margin: 50px 0px;
    "
  >
    About ZBlog
  </h1>
  <p style="color: rgb(80, 79, 79); text-align: center; font-size: 1rem">
    Welcome to ZBlog, your go-to destination for all things blogging!
  </p>
  <p style="color: rgb(80, 79, 79); text-align: center; font-size: 1rem">
    Here, you'll find insightful articles, helpful tips, and much more.
  </p>
  <p style="color: rgb(80, 79, 79); text-align: center; font-size: 1rem">
    Stay tuned for updates!
  </p>
</div>
{% endblock %}
