<footer class="bottomFooter">
  <div class="container">
    <div
      style="
        width: 100%;
        padding: 50px 0px;
        display: flex;
        align-items: start;
        justify-content: space-between;
      "
    >
      <div style="width: 50%">
        <h5 class="navBrand">ZBlog</h5>
        <p style="font-size: 1.3rem; font-weight: 600; color: rgb(70, 69, 69)">
          Read Whetever You Like
        </p>
      </div>
      <div class="">
        <h5>Public Links</h5>
        <ul
          style="
            list-style: none;
            text-decoration: none;
            font-size: 1rem;
            color: rgb(70, 69, 69);
          "
        >
          <li><a ref="#!" style="cursor: pointer">LinkedIn</a></li>
          <li><a ref="#!" style="cursor: pointer">GitHub</a></li>
          <li><a ref="#!" style="cursor: pointer">Instagram</a></li>
          <li><a ref="#!" style="cursor: pointer">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    © 2014 Copyright Text
    <a class="" href="#!">More Links</a>
  </div>
</footer>
