<nav>
  <div
    class="container"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <a class="navBrand" href="http://127.0.0.1:8000/home/">ZBlog</a>
    <ul class="navList">
      <li><a class="navBtn" href="/about/">About</a></li>
      <li><a class="navBtn" href="http://127.0.0.1:8000/admin">Admin</a></li>
      <li style="position: relative">
        <a
          class="nav-link dropdown-toggle navBtn"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown link
        </a>
        <ul class="dropdown-menu" class="navDropdown">
          {% for cat in cats %}
          <li>
            <a
              href="/category/{{cat.url}}"
              style="
                text-decoration: none;
                font-size: 1rem;
                font-weight: 500;
                padding: 5px;
                margin: 10px 5px;
              "
              >{{cat.title}}</a
            >
          </li>
          {% endfor %}
        </ul>
      </li>
      <li><a class="navBtn" href="/user/logout/">Logout</a></li>
    </ul>
  </div>
</nav>
