<nav>
  <div class="container">
    <a class="navBrand">ZBlog</a>
    <ul class="navList">
      <li>
        <a class="navBtn">About</a>
      </li>
      <li><a class="navBtn">Admin</a></li>
      <li style="position: relative">
        <a
          class="nav-link dropdown-toggle navBtn"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown link
        </a>
        <ul class="dropdown-menu" class="navDropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
